.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Input{
  margin: 0 auto;
}

.Todo_Table{
  max-width: 40%;
  margin: auto;
}

.Todo_TaskName{
  margin-left: 20px;
}

.Todo_Card{
  display: flex;
  justify-content: space-between;
}

.Todo_Card>p{
  width: 80%;
}

.Task_Name{
  font-weight: bold;
}
.Task_Completed{
  opacity: 50%;
  text-decoration: line-through;
}
.Task_NotCompleted{
}

.Task_Time{
  font-size:small;
  font-style: italic;
}

